body {
  background-color: orange;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../image/wall.png");
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: rgb(184, 255, 194);

  border-bottom: 5px solid black;
}

/* esse nth-child(2) fala que eu quero somente a filha de numero 2 */
.menu div h2:nth-child(2) {
  margin: 10px;
}

.menu-lives {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  background-color: rgb(0, 104, 5);
}

.enemy {
  background-image: url(../image/ralph.png);
  background-size: cover;

}